.brunoui-chip-loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.brunoui-chip-loader {
  width: 100%;
}

/* Traces */
.brunoui-chip-loader__trace-bg {
  stroke: #333;
  stroke-width: 1.8;
  fill: none;
}

.brunoui-chip-loader__trace-flow {
  stroke-width: 1.8;
  fill: none;
  stroke-dasharray: 40 400;
  stroke-dashoffset: 438;
  filter: drop-shadow(0 0 6px currentColor);
  animation: brunoui-chip-flow 3s cubic-bezier(0.5, 0, 0.9, 1) infinite;
}

/* Colors */
.brunoui-chip-loader__yellow {
  stroke: #f87903;
  color: #f87903;
}
.brunoui-chip-loader__blue {
  stroke: #f87903;
  color: #f87903;
}
.brunoui-chip-loader__green {
  stroke: #f87903;
  color: #f87903;
}
.brunoui-chip-loader__purple {
  stroke: #f87903;
  color: #f87903;
}
.brunoui-chip-loader__red {
  stroke: #f87903;
  color: #f87903;
}

/* Animation */
@keyframes brunoui-chip-flow {
  to {
    stroke-dashoffset: 0;
  }
}






